version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: flightbooker-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: flight_booking
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: flightbooker-backend
    restart: always
    depends_on:
      - postgres
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: development
      PORT: 5000
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/flight_booking
      JWT_SECRET: docker_secret
      CORS_ORIGIN: http://localhost:3000

  frontend:
    build: ./frontend
    container_name: flightbooker-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:3000"
    environment:
      VITE_API_URL: http://localhost:5000/api

volumes:
  pgdata:
